.containerDashboard {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background-image: url(../../../assets/signin-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
}