.homeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.homeLeftContainer{
    width: 500px;

}
.homeRightContainer{
    width: calc(100% - 500px);

}
.homeLeftBottomTable{
    margin-top: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-top: 20px;
}